*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.notes__sidebar{
    height: 100vh;
    width: 400px;
    border-right: 2px solid #CCC;
    padding: 50px;
}

.notes__sidebar input{ 
    width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 10px;
}

.notes__sidebar textarea{ 
    width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 10px;
    min-width: 100%;
}

.notes__sidebar button{  
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: #50c26d;
  color: black;
  padding: 10px 2px;
  border-radius: 3px;
  cursor: pointer;
}

.notes__container {
    width: 100%;
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.note{
    width: 25%;
    background-color: #EEE;
    padding: 30px;   
    overflow: hidden;  
    margin-right: 30px;
    margin-bottom: 30px;
}

.note h3{
margin-bottom: 10px;
}

.note p{
    max-height: 200px;  
    overflow: auto;
    margin-bottom: 10px; 
    font-size: 13px;
}

.btn_Delete{    
    background-color: #c71f1f !important;
  
}

.hidden{
    display: none;
}